{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth:": 80,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
